name: CD - Build and Publish Docker Image

on: 
    push:
        branches:
            - main


jobs:
    build-and-publish:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v4

            - name: Log in to Docker Hub
              uses: docker/login-action@v4
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME}}
                password: ${{ secrets.DOCKERHUB_TOKEN}}

            
            - name: Build Docker Image
              run: |
                docker build -t ${{ secrets.DOCKERHUB_USERNAME}}/cicd-app:${{ github.sha}} .

            - name: Run Trivy Scan
              uses: aquasecurity/trivy-action@0.33.1
              with:
                image-ref: ${{ secrets.DOCKERHUB_USERNAME}}/cicd-app:${{ github.sha}}
                format: 'table'
                exit-code: '1'
                severity: CRITICAL

            
            - name: Push Docker Image
              run: |
                docker push ${{ secrets.DOCKERHUB_USERNAME}}/cicd-app:${{github.sha}}
